/* RESET */
html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, span, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small, table, tbody, tr, td {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 box-sizing: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 color: inherit;
 background: transparent;
}

/* CLEARFIX */

.group:after {
 content: "";
 clear: both;
 display: block;
}

/* ELEMENTS */

body {
font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
background: #f3f3f3;
color: #333;
}

ul {
 list-style: none;
}

.main-header {
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
}

.tab-header {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  background: #ccc;
}

.tab {
  cursor: pointer;
  padding: 20px;
}

.tab:hover {
  background: #000;
  color: #fff;
}

.tab-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.maze-solver {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.maze-row {
  height: 25px;
}

.maze-row > td {
  border: 1px solid #000;
  width: 25px;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: 100%;
}

.slider-label {
  text-align: center;
  margin-bottom: 10px;
}

.slider-markers {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.slider-val {
  margin-top: 10px;
  border: 1px solid #000;
  padding: 4px;
  font-weight: 800;
}

.rheostat-background {
  background-color: #fff;
  border: 1px solid #000;
  position: relative;
}

.rheostat-progress {
  left: 1px !important;
  background-color: #ccc;
  position: absolute;
}

.rheostat-handle {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  height: 20px;
  z-index: 1;
  width: 20px;
}

.rheostat-horizontal {
  height: 12px;
}

.rheostat-horizontal .rheostat-background {
  height: 12px;
  top: 0px;
  width: 100%;
}

.rheostat-horizontal .rheostat-progress {
  height: 10px;
  top: 2px;
}

.rheostat-horizontal .rheostat-handle {
  margin-left: -12px;
  top: -4px;
}

.rheostat-horizontal .rheostat-handle:before,
.rheostat-horizontal .rheostat-handle:after {
  top: 7px;
  height: 10px;
  width: 1px;
}

.rheostat-horizontal .rheostat-handle:before {
  left: 10px;
}

.rheostat-horizontal .rheostat-handle:after {
  left: 13px;
}

.maze-button {
  width: 75px;
  text-align: center;
  margin: 15px;
  display: block;
  padding: 10px 30px;
  background: #ccc;
  cursor: pointer;
}

.maze-button:hover {
  background: #000;
  color: #fff;
}

.active {
  background: #000;
  color: #fff;
  font-weight: 800;
}
